<% if logged_in?  && @feed_items.any?%>
 <%= render 'shared/users_top' %>
<%else%>
  <div class="center jumbotron">
    <h1>Insta Clone App</h1>
    <%= link_to "サインアップしましょう", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
<% end %>
