<% provide(:title, '検索結果') %>
<% if @posts == nil %>
  <p>該当する投稿がありません</p>
  <% else %>
  <ul>
    <% @posts.each do |post| %>
      <div id = "post_modal">
        <span class="content">
          <%= image_tag post.picture.url %>
        </span>
      </div>
    <% end %>
  </ul>
<% end %>
