<% provide(:title, "Reset password") %>
<h1>パスワード再設定</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user, url:password_reset_path(params[:id]) ) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

      <%= hidden_field_tag :user_name, @user.user_name %>

      <%= f.label :現在のパスワード %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :新しいパスワード %>
      <%= f.password_field :password_new, class: 'form-control' %>

      <%= f.label :新しいパスワード %>
      <%= f.password_field :password_new_confirmation, class: 'form-control' %>

      <%= f.submit "再設定する", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
