<% provide(:title, "Notification") %>
<div>
  <h4>通知</h4>
  <% if @notifications.exists? %>
    <div>
      <%= render @notifications %>
    </div>
  <% else %>
    <p> 通知はありません</p>
  <% end %>
</div>
