<% provide(:title, "Edit user") %>
<h1>プロフィール変更</h1>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <div>
          <p class="profile-setting">Public Info</p>
          <%= f.label :name %>
          <%= f.text_field :name, class:'form_control' %>

          <%= f.label :user_name %>
          <%= f.text_field :user_name, class:'form_control' %>

          <%= f.label :website %>
          <%= f.url_field :website, class:'form_control' %>

          <%= f.label :introduction %>
          <%= f.text_area(:introduction, size: "24*10", class:'form_control') %>
        </div>

        <div>
          <p class="profile-setting">Private Info</p>
          <%= f.label :email %>
          <%= f.email_field :email, class:'form_control' %>

          <%= f.label :telephone %>
          <%= f.telephone_field :telephone, class:'form_control' %>
          <p class="gender-setting">Gender</p>
          <label>
            <%= f.radio_button :gender, :male, checked: true, class:'form_control'%> Male </label>
          <label>
            <%= f.radio_button :gender, :female, class:'form_control' %> Female </label>
          <label>
            <%= f.radio_button :gender, :else ,class:'form_control' %> Else </label>
        </div>
            <%= f.submit "変更する", class: "btn btn-primary" %>
      <% end %>
    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <ul>
        <li><a href="http://gravatar.com/emails" target="_blank">プロフィール画像の変更</a></li>
        <li><%= link_to "パスワードの再設定", edit_password_reset_path %></li>
        <li><%= link_to "アカウント削除", @user, method: :delete,
                                data: { confirm: "本当に削除しますか？" } %></li>
      </<ul>
    </div>
  </div>
</div>
