<% provide(:title, @user.name) %>
<div class="row">
  <div class="user_info">
    <div class="col-md-5">
      <div class="user_picture">
        <%= gravatar_for @user %>
      </div>
    </div>

    <div class="col-md-7">
      <div class="name_and_stats">
        <h1><%= @user.user_name %></h1>
        <%= render 'follow_form' if logged_in? %>
        <section class="stats">
          <%= render 'shared/stats' %>
          <% if @user.posts.any? %>
            <span class="posts_count">
              <strong id="following" class="stat">
                投稿数: <%= @user.posts.count %></span>
              </<strong>
        </section>
      </div>
      <div class="user_optional_info">
        <ul>
          <li class="users_intro"><%= @user.introduction %></li>
          <li><a href="<%= @user.website %>" target="_blank"><%= @user.website %></a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="post_field">
    <ol class="posts">
      <%= render @posts %>
    </ol>
    <%= will_paginate @posts %>
    <% end %>
  </div>
</div>
