<%= link_to gravatar_for(current_user, size: 50), current_user %>
<h2><%= current_user.name %></h2>
<span><%= link_to "プロフィール", current_user %></span>
<span><%= pluralize(current_user.posts.count, "post") %></span>
