<div class="col-md-4">
  <li id="post-<%= post.id %>">
    <%= link_to gravatar_for(post.user, size: 40), post.user %>
    <span class="user"><%= link_to post.user.name, post.user %></span>
    <span class="content">
      <%= post.content %>
      <%= link_to post_path(post.id), target: "_blank" do %>
        <%= image_tag post.picture.url, id:"modal-open" if post.picture? %>
      <% end %>
    </span>
    <span class="timestamp">
      Posted <%= time_ago_in_words(post.created_at) %> ago.
      <% if current_user?(post.user) %>
        <%= link_to "delete", post, method: :delete,
        data: {confirm: "本当に削除しますか？"} %>
      <% end %>
    </span>
    <div>
      <%= render 'favorites/like_button', post: post %>
    </div>
  </li>
</div>
