<% provide(:title, "New post") %>

<h1>写真を投稿しましょう！</h1>

<div class="row user_info_post">
    <section class="user_info">
      <%= render 'shared/user_info' %>
    </section>
    <section class="post_form">
      <%= render 'shared/post_form' %>
    </section>
</div>
