<% provide(:title, @post.user.name) %>
<h1>投稿詳細</h1>

<div class="row">
  <div class="col-md-7 post_detail">
    <div post_detail_info>
      <%= link_to @post.user.name, @post.user %>
      <%= link_to gravatar_for(@post.user, size: 40), @post.user %>
    </div>
    <div class="post_detail_content">
      <%= image_tag @post.picture.url, id:"modal-open" if @post.picture? %>
    </div>
    <div class="timestamp">
      Posted <%= time_ago_in_words(@post.created_at) %> ago.
      <% if current_user?(@post.user) %>
        <%= link_to "delete", @post, method: :delete,
        data: {confirm: "本当に削除しますか？"} %>
      <% end %>
    </div>
      <%= render 'favorites/like_button', post: @post %>
  </div>
  <div id="comments_area" class="col-md-5">
    <p>コメント一覧</p>
      <p>
      <%= render partial: 'comments/index',
                         locals:{ comments: @comments } %></li>
      <%= render partial: 'comments/form',
              locals:{ comment: @comment, post: @post } %></li>
      </p>
  </div>
</div>
