@import "bootstrap-sprockets";
@import "bootstrap";

/* mixin 変数等*/
$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}
/* デバック */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
/* 全体 */
body {
  padding-top: 70px;
  background-color: #F0F8FF;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  background-color: #F0F8FF;
  h1 {
  margin-bottom: 30px;
  }
}
/* 文字 */
h1, h2, h3, h4 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: 2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: 1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}
/* ヘッダー */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.9em;
  color: #87CEFA;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
  color: #1E90FF;
  text-decoration: none;
  }
}

.nav {
    li {
      position: relative;
      text-align: center;
      display: block;
      width: 33%;
    }
    form  {
      padding-top: 15px;
      padding-bottom: 15px;
    }
    #search {
    width: 50%;
    }
    .search_btn {
      width: 40%;
    }
}
.navbar {
  margin-bottom: 0px;
}

.login-btn {
  font-weight: bold;
  letter-spacing: 2px;
}
/* フッター */
footer {
  margin-top: 100px;
  padding-top: 30px;
  font-size: 1.7em;
  letter-spacing: 1px;
  text-align: center;
  border-top: 3px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: #87CEFA;
    &:hover {
      color: #87CEEB;
    }
  }
}

/* フォーム */
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

.user_info_post h2 {
  text-align: left;
}
span.picture {
  margin-top: 40px;
  input {
    margin-top:20px;
    margin-bottom: 50px;
    border: 0;
    font-weight: bold;
  }
}

#post_picture {
  width: 250px;
  border-style: ridge;
}

.post_btn {
  display: block;
  margin: 0 auto;
  width: 50%;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
    .form-control {
      color: $state-danger-text;
    }
}
/* 利用規約 */
.tos {
  float: right;
  margin-bottom: 10px;
    h1 {
      margin-top: 20px;
    }
    h2, p, ul, li {
      text-align: left;
      color: black;
      letter-spacing: 0px;
    }
}
/* プロフィール編集 */
.profile-setting {
  font-size: 1.6em;
  font-weight: bold;
  text-align: center;
}
.gender-setting {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}
.gravatar_edit li {
  list-style: none;
  margin-top: 15px;
  margin-left: 80px;
  margin-bottom: 10px;
  font-size: 16px;
  color: #6495ED;
}

/* ユーザーページ */
.user_picture {
  .gravatar {
  margin-top: 15px;
  float: right;
  }
}
.name_and_stats {
  h1 {
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
  }
  h2 {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .posts_count {
    float: left;
    display: inline-block;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
  }
}
.user_optional_info {
  margin-top: 10px;
  margin-bottom: 20px;
  ul {
    padding-inline-start: 0px;
  }
  li {
    list-style: none;
    font-size: 16px;
    color: #4B0082;
    margin-bottom: 10px;
  }
}
#follow_form {
    margin-top: 15px;
    margin-bottom: 20px;
    width: 65%;
}
.gravatar {
  float: left;
  margin-right: 10px;
}
.stats {
  margin-top: 0;
  padding: 0;
  strong {
    display: block;
  }
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
      &:first-child {
        padding-left: 0;
        border: 0;
      }
      &:hover {
        text-decoration: none;
        color: blue;
      }
  }
}
.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}
.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}
.users.follow {
  padding: 0;
}
/* 投稿 */
.post_field {
  width: 100%;
  flex-wrap: wrap;
  list-style: none;
  float: left;
  margin-top: 20px;
  form {
    display: block;
    width: 50%;
    margin: 0 auto;
    justify-content: center;
  }
  .posts {
    padding: 0;
  }
  li {
    justify-content: center;
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
    list-style: none;
    height: 100%;
    max-height: 100%;
  }
  .gravatar {
      float: left;
      margin-left: 10px;
      margin-right: 10px;
  }
  .user {
      float: left;
      margin: 0 auto;
  }
  .content {
      display: inline-block;
      flex-wrap: wrap;
      box-sizing: border-box;
      margin: 20px;
    img {
      box-shadow: 0 0.25em 0.25rem 0.75rem rgba(0, 0, 0, .03);
      height: 300px;
      width: 300px;
      max-width: 100%;
      max-height: 100%;
      padding: 5px 10px;
    }
  }
}
  .timestamp {
    color: $gray-light;
    display: flex;
    padding-left: 10px;
    text-align:left;
}
/* 投稿詳細 */
.post_detail {
  padding-left: 30px;
  form{
    padding-left: 40px;
    width: 70%;
    display: inline-block;
  }
}

.post_detail_info {
  float: left;
  font-weight: bold;
}

.post_detail_content {
  display: inline-block;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin: 20px;
  padding-top: 20px;
  img {
    box-shadow: 0 0.25em 0.25rem 0.75rem rgba(0, 0, 0, .03);
    height: 420px;
    width: 420px;
    max-width: 100%;
    max-height: 100%;
  }
}
.comments_area {
  li{
    text-align: left;
    font-weight: bold;
    list-style: none;
  }
}

/*modal*/
/*
#modal-main{
	width:50%;
	margin: 0;
	padding:10px 20px;
	border:2px solid #aaa;
	background:#fff;
  position: fixed;
  z-index:2;
  display: none
}

.modal-p{
	margin-top:1em;
}
#modal-background{
	z-index:1;
	display:none;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:120%;
	background-color:rgba(0,0,0,0.75);
}
*/
