<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Insta Clone App", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= form_tag(search_path, :method => 'get') do %>
            <%= text_field_tag :search%>
            <%= submit_tag "検索", :name => nil, class:"search_btn" %>
          <% end %>
        </li>
        <li><%= link_to "通知", notifications_url %></li>
        <% if logged_in? %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            アカウント <b class="caret"></b>
          </a>
         <ul class="dropdown-menu">
          <li><%= link_to "マイページ", current_user %></li>
            <% if  @user == current_user %>
          <li><%= link_to "編集", edit_user_path(current_user) %></li>
            <% end %>
          <li class="divider"></li>
          <li>
          <%= link_to "ログアウト", logout_path, method: :delete %>
          </li>
         </ul>
        </li>
        <% else %>
        <li><%= link_to "ログイン", login_path, class: "login-btn"%></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
